*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,a{
    font-family: 'Work Sans', sans-serif;
}

/* Common css */
.flex{
    display: flex;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242; 
}
.dark-3{
    color: #727272; 
}
.orrange{
    color: #FF900E; 
}
.explore-button{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
.explore-button a{
    text-decoration: none;
    color: #fff;
}
.common-heading{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.common-para{
    margin-top: 24px;
    margin-bottom: 32px;
}
.container{
    margin-left: 240px;
    margin-right: 240px;
}
/* Header */
/* Nav */
header,footer{
    background: rgba(255, 144, 14, 0.1);
}
.nav{
    padding: 50px 190px 100px 228px;
    justify-content: space-between;
    align-items: center;
}

nav div ul{
    list-style: none;
}
nav div ul li a{
    text-decoration: none;
}
nav div ul li{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    padding: 0 50px;
}

/* banner */

.banner-description{
    padding: 0 525px;
    text-align: center;
}
.banner-heading{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.banner-para{
    margin: 33px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.banner-img{
    padding: 50px;
    text-align: center;
    width: 100%;
}

/* Quick list section */
.quick-list{
    align-items: center;
    padding: 100px 295px;
    flex: 1;
    gap: 76px;
}
.quick-list-image-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

/* Facts */
.facts-para{
    margin-right: 880px;
}
.facts-div-container{
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 180px;
}
.facts-div{
    padding: 46px 36px 60px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.facts-icon-counter{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    padding-bottom: 5px;
}
.facts-icon-para{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}


/* Feature */
.feature{
    flex: 1;
}
.feature-description{
    margin-right: 145px;
    padding-top: 50px;
}
.feature-heading{
    padding: 0 100px 0 21px;
    border-left: 5px solid #FF900E;
}
.feature-box-container{
    display: grid;
    gap: 20px;
}
.feature-box{
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-box h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}
.feature-btn{
    padding: 45px 42px;
    background: #FF900E;
    text-align: center;
    border: none;
    border-radius: 8px;
}
.feature-btn a .span-1{
    font-weight: 700;
    font-size: 65px;
}
.feature-btn a{
    text-decoration: none;
    color: #fff;
}
.feature-btn a .span-2{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}
.feature-btn-div{
    transform: translate(-11%,-70%);
}

/* Sponser */

.sponser{
    text-align: center;
}
.sponser-para{
    padding: 0 450px 20px;
}
.sponser-div{
    margin-bottom: 170px;
    justify-content: space-between;
    align-items: center;
}
.sponser-div img{
    filter: grayscale(100%);
}

/* Footer */
footer{
    margin-bottom: 216px;
    padding: 40px 410px;
    border-radius: 8px;
}

/* Responsive for Phone */

@media only screen and (max-width: 576px),(min-width: 576px) and (max-width: 768px) {
    .container{
        margin-left: 30px;
        margin-right: 30px;
    }
    /* header */
    header{
        width: 100vw;
    }
    .nav,nav div ul{
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    .common-heading{
        font-size: 30px;
        padding-top: 30px;
    }
    /* banner */
    .banner-description{
        padding: 0 30px;
    }
    .banner-heading{
        font-size: 35px;
        line-height: 40px;
    }
    .banner-para{
        margin: 20px 0;
    }
    .banner-img{
        padding: 30px 10px;
    }
    .banner-img img{
        width: 100%;
    }
    .explore-button{
        padding: 10px 13px;
        font-size: 16px;
    } 
    
    /* Quick list */
    .quick-list{
        padding: 30px;
        flex-direction: column;
        gap: 15px;
    }
    .quick-list-image-box{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
    .quick-list-description{
        text-align: center;
    }

    /* feature */

    .feature{
        flex-direction: column;
        align-items: center;
    }
    .feature-description{
        margin-right: 0px;
    }
    .feature-heading{

        padding: 0 20px;
    }
    .feature-box-container{
        text-align: center;
        margin-bottom: 20px;
    }
    .feature-btn{
        padding: 10px 13px;
    }
    .feature-btn a .span-1{
        font-weight: 700;
        font-size: 30px;
    }
    .feature-btn a .span-2{
        font-size: 20px;
    }
    .feature-btn-div{
        transform: translate(0,0);
        text-align: center;
        padding: 20px 0;
    }
    .feature-img img{
        width: 100%;
    }

    /* Facts */
    

    /* sponser */
    .sponser-para{
        padding: 0 20px;
    }
    .sponser-div{
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .sponser-div img{
        width: 70%;
        margin-bottom: 20px;
    }

    /* Footer */
    footer{
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
    }
    
}

/* Responsive for Rotate Phone */

@media only screen and (min-width: 576px) and (max-width: 768px){   
    nav div ul{
        flex-direction: row;
    }
    nav div ul li{
        padding: 0 20px;
    }
}